button {
  cursor: pointer;
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  background-color: #4e75ff;
  padding: 8px 16px;
}
button:hover {
  background-color: #6c8cff;
}
.input {
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
  outline: none;
  resize: none;
}
.input::placeholder {
  color: transparent;
}
.input:focus::placeholder {
  color: #2e2f42;
}
.input:hover {
  border: 1px solid black;
}
.input:active {
  border: 1px solid #808080;
}
.item ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.item li {
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 8px 16px;
}
.first-input {
  width: 360px;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px 16px;
}
.first-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.first-input-container {
  margin: 24px;
}
.feedback-form {
  display: flex;
  flex-direction: column;
}
.feedback-form button {
  width: 86px;
  height: 40px;
  margin-top: 16px;
}
.feedback-form label {
  display: flex;
  flex-direction: column;
  width: 360px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.feedback-form input {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 360px;
  height: 40px;
}
