/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
/* @import url('./animations.css'); */

/* Sections style */
@import url('./header.css');
/* @import url('./vite-promo.css');
@import url('./badges.css'); */
@import url('./back-link.css');
/* @import url('./footer.css'); */

* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* styles.css */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
}

.gallery-item {
  flex-basis: 100%; /* 1 фото в ряд */
}

@media screen and (min-width: 600px) {
  .gallery-item {
    flex-basis: calc((100% - 1 * 16px) / 2); /* 2 фото в ряд */
  }
  .gallery {
    gap: 10px;
  }
}

@media screen and (min-width: 1250px) {
  .gallery-item {
    flex-basis: calc((100% - 2 * 16px) / 3); /* 3 фото в ряд */
  }
  .gallery {
    gap: 16px;
  }
}
.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.gallery-image:hover {
  transform: scale(1.05);
}
